<nav class="bg-black text-white flex justify-between items-center p-5 mb-5">
  <div class="text-2xl font-bold">
    <h1>Navbar</h1>
  </div>

  <div class="text-xl font-semibold text-yellow-500">
    <a href="/home" class="mr-5">Home</a>
    <a href="/siswa" class="mr-5">Data</a>
  </div>
</nav>
